# Local files
build
test/config.ini
cache.properties
/database.ini

# IDE files
.idea
*.iml
nbproject

# Composer files and dependencies
composer.lock
composer.phar
bin/composer
vendor

# Vagrant files
.vagrant
.phpunit.result.cache
