<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/opus4-repo/framework/tests/Bootstrap.php"
         colors="true">

    <php>
        <const name="APPLICATION_PATH" value="." />
    </php>

    <testsuites>
        <testsuite name="OPUS 4 Search test suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

</phpunit>